<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="basepage">
<head>
    <title>Internal Server Error</title>
    
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object> 
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
<body>
    <div id="App">
        <div class="container" style="margin-top: 40px; padding-bottom: 30px">
  <div class="row">
   <div class="col-12">
    <h1>Internal Server Error</h1>
    <hr>
    <p>Terjadi kesalahan pada sistem</p>

   </div>
  </div>
    
</body>
</html>