<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Jadwal Jaga</title>
    <object th:include="fragments/fragment :: metas" th:remove="tag"></object>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid">
        <table class="table">
            <thead>
                <th>Nama Dokter</th>
                <th>Paviliun</th>
                <th>Jadwal</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr th:each="jadwalJaga:${listOfJadwalJaga}">
                    <td th:text="${jadwalJaga.dokter.nama}">Gandi Karman Mangunsong</td>
                    <td th:text="${jadwalJaga.paviliun} != null ? ${jadwalJaga.paviliun} :'Paviliun Tidak Ada'"></td>
                    <td>Tidak Ada Jadwal</td>
                    <td>
                        <form th:action="@{/jadwal-jaga/update}">
                            <input type="hidden" name="idDokter" th:value="${jadwalJaga.dokter.id}">
                            <input type="hidden" name="namaDokter" th:value="${jadwalJaga.dokter.nama}">
                            <button class="btn btn-primary" type="submit">Tambah Jadwal</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>