<head>
	<title>Ubah Penanganan</title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>	
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	

			<div class="card border-info mb-3" style="margin:25px;">
				<div class="card-header" style="text-align:center">
					 <h3>Ubah Penanganan</h3>
				</div>
				<div class="card-body">
					<div class="container">
						<form th:action="@{/penanganan/}+${pasien.id}+'/'+${pemeriksaan.id}" th:object="${pemeriksaan}" method ="POST">
						<input type="hidden" th:field="*{idPasien}"/> 
							<h2 th:text="${pasien.nama}"></h2>
							<div class="form-group">
  							<label for="dokter">Dokter</label>
								<select  class="form-control" required="required" name="idDokter">
									<option disabled th:selected="${idDokter}"></option>
						      		<option th:each="dokter : ${dokter}" th:value="${dokter.id}"  th:text="${dokter.nama}" ></option>
						    	</select>
							</div>
							
							<div class="form-group">
    						<label for="waktu">Tanggal Penanganan</label>
    						<input type="date" class="form-control" name="waktu" th:value="*{waktu}" aria-describedby="emailHelp" required="required" placeholder="Enter tanggal Penanganan">
  							</div>
  							<div class="form-group">
    							<label for="deskripsi">Deskripsi</label>
    							<input class="form-control" name="deskripsi" th:value="*{deskripsi}" aria-describedby="emailHelp" required="required" placeholder="Isi Deskripsi">
  							</div>
  							<div class="form-group">
    						<label for="deskripsi">Obat</label>
    						<input class="form-control" name="obat" th:value="*{obat}" aria-describedby="emailHelp" placeholder="Isi Obat">
  							</div>
  							<div class="form-group">
    						<label for="deskripsi">Kuantitas</label>
    						<input class="form-control" name="kuantitas" th:value="*{kuantitas}" aria-describedby="emailHelp" placeholder="Jumlah">
  							</div>
  							<button type="submit" class="btn btn-success btn-rounded">Submit</button>
						
					</div>
				</div>
			</div>
	</body>
</body>
</html>